#officeLocations {
  height: 400px;
  overflow: hidden;
}

.office-box {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  background-color: #fcfcf2;
  margin-bottom: 10px;
  cursor: pointer;
  height: 100%;
}

.office-box-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.office-box-subtitle {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 20px;
}

.office-box-text {
  margin-bottom: 5px;
}

.office-box-btn-container {
  margin-top: 20px;
}

.office-box-btn-container a {
  margin-right: 5px;
}

.office-box-btn-container a:last-child {
  margin-right: 0;
}

.office-box-btn-container .btn {
  padding: 8px 15px;
  font-size: 0.9rem;
}


.mega-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  background-color: white;
  z-index: 1000;
}

.mega-menu .row>div {
  padding: 15px;
}

.nav-item.dropdown:hover .mega-menu {
  display: block;
}

/* Ensure the mega menu is hidden by default */
.mega-menu {
  display: none;
}

.menu-text {
  color: white !important;
  font-size: 17px !important;
  font-weight: 500 !important;
}

.menu-text:hover {
  color: #ffbf00 !important;
  text-decoration: underline !important;
  margin-bottom: 2px !important;
}

@media (min-width: 1200px) {
  #navbarNav .navbar-nav>.nav-item {
    position: unset;
  }

  #navbarNav .navbar-nav>.nav-item .mega-menu {
    top: 68px;
  }
}

.dropdown-item {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  position: relative !important;
  /* Required for positioning the pseudo-element */
  text-decoration: none !important;
  /* Ensure there is no default underline */
  font-weight: 500 !important;
  font-size: 17px !important;
}

.dropdown-item::after {
  content: '';
  /* Create an empty element */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  /* You can adjust the thickness of the underline */
  background: linear-gradient(90deg, #A8393F, #FFD6D1);
  /* Gradient color */
  transform: scaleX(0);
  /* Initially scale it to 0 (hidden) */
  transform-origin: bottom right;
  /* Animation starts from right */
  transition: transform 0.4s ease;
  /* Smooth transition */
}

.dropdown-item:hover::after {
  transform: scaleX(1);
  /* Scale to full width on hover */
  transform-origin: bottom left;
  /* Animation ends at left */
}